
@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>

        <p>
            <abbr title="Email"><i class="fa-solid fa-envelope"></i></abbr>
            tranthethai204@gmail.com
        </p>
        <p>
            <abbr title="Phone"><i class="fa-solid fa-phone"></i></abbr>
            0344.865.899
        </p>
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Designed By:</strong> <a href="https://www.facebook.com/imBurry204">Trần Thế Thái</a>
    </address>
</main>